@media (min-width: 1024px) {
/*     body {
        background: 
        url(../img/bg/medium/1_1024.png) 5% -10%  no-repeat,
        url(../img/bg/medium/ufo_1024.png) 20% -25% no-repeat,
        url(../img/bg/medium/2_1024.png) 49% -10% no-repeat,
        url(../img/bg/medium/plane_1024.png) 80% -36% no-repeat,
        url(../img/bg/medium/3_1024.png) 95% -10% no-repeat,
        url(../img/bg/medium/vane_1024.png) -20px 75% no-repeat,
        url(../img/bg/medium/dinosaur_1024.png) calc(100% + 63px) 75% no-repeat,
        url(../img/bg/medium/truck_1024.png) 15% 100% no-repeat,
        url(../img/bg/medium/bear_1024.png) 46% 103% no-repeat,
        url(../img/bg/medium/blocks_1024.png) 85% 100% no-repeat,
        url(../img/bg/medium/bg_1024.png) center / cover no-repeat fixed; 
    } */
    .top_backgrounds {
        background: 
            url(../img/bg/medium/1_1024.png) 5% -50px  no-repeat,
            url(../img/bg/medium/ufo_1024.png) 20% -150px no-repeat,
            url(../img/bg/medium/2_1024.png) 49% -50px  no-repeat,
            url(../img/bg/medium/plane_1024.png) 80% -210px  no-repeat,
            url(../img/bg/medium/3_1024.png) 95% -50px  no-repeat;        
    }
    .bottom_backgrounds {
        background: 
        url(../img/bg/medium/truck_1024.png) 20% 100% no-repeat,
        url(../img/bg/medium/bear_1024.png) 46% calc(100% + 35px) no-repeat,
        url(../img/bg/medium/blocks_1024.png) 80% 100% no-repeat;        
    }
    body {        
        background: url(../img/bg/medium/vane_1024.png) -20px 75% no-repeat,
        url(../img/bg/medium/dinosaur_1024.png) calc(100% + 63px) 75% no-repeat,
        url(../img/bg/medium/bg_1024.png) center / cover no-repeat fixed; 
    }
    h1.head {
        font-size: 50px;
    }
    .clips-container {
        .clip-item img {
            max-width: 238px;
        }
    }
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 1400px) {
    h1.head {
        font-size: 50px;
    }    
}

@media (min-width: 1600px) {
    .clips-container {
        .clip-item img {
            max-width: 258px;
        }
    }
    .wrapper {
        max-width: 760px;
    } 
}

@media (min-width: 1950px) {
    .clips-container {
        .clip-item img {
            max-width: 330px;
        }
    }
    .wrapper {
        max-width: 1000px;
    }
    .wrapper_step1 {
        margin-top: -350px;
    }
}

@media (min-width: 1950px) and (min-height: 1536px) {
/*     body {
        background: 
        url(../img/bg/big/1_2000.png) 5% -11%  no-repeat,
        url(../img/bg/big/ufo_2000.png) 20% -33% no-repeat,
        url(../img/bg/big/2_2000.png) 49% -11% no-repeat,
        url(../img/bg/big/plane_2000.png) 80% -48% no-repeat,
        url(../img/bg/big/3_2000.png) 95% -11% no-repeat,
        url(../img/bg/big/vane_2000.png) -20px 75% no-repeat,
        url(../img/bg/big/truck_2000.png) 15% 100% no-repeat,
        url(../img/bg/big/bear_2000.png) 46% 106% no-repeat,
        url(../img/bg/big/blocks_2000.png) 85% 100% no-repeat,
        url(../img/bg/big/dinosaur_2000.png) calc(100% + 125px) 75% no-repeat,
        url(../img/bg/big/bg_2000.png) center / cover no-repeat fixed; 
        padding: 230px 0;
    }     */
    .top_backgrounds {
        background: 
            url(../img/bg/big/1_2000.png) 5% -150px  no-repeat,
            url(../img/bg/big/ufo_2000.png) 20% -390px no-repeat,
            url(../img/bg/big/2_2000.png) 49% -150px  no-repeat,
            url(../img/bg/big/plane_2000.png) 80% -470px  no-repeat,
            url(../img/bg/big/3_2000.png) 95% -150px  no-repeat;   
        height: 200px;     
    }
    .bottom_backgrounds {
        background: 
        url(../img/bg/big/truck_2000.png) 20% 100% no-repeat,
        url(../img/bg/big/bear_2000.png) 48% calc(100% + 70px) no-repeat,
        url(../img/bg/big/blocks_2000.png) 80% 100% no-repeat;
        height: 200px;
    }
    body {        
        min-height: calc(100vh - 400px);
        background: url(../img/bg/big/vane_2000.png) -40px 75% no-repeat,
                    url(../img/bg/big/dinosaur_2000.png) calc(100% + 123px) 75% no-repeat,
                    url(../img/bg/big/bg_2000.png) center / cover no-repeat fixed; 
        padding: 200px 0;
    }
    h1.head {
        font-size: 100px;
    }
    .wrapper {
        max-width: 1400px;
    }
    .clips-container {
        .clip-item img {
            max-width: 475px;
        }
    }
    .wrapper_step1 {
        margin-top: -490px;
    }
}

@media(max-width: 1024px) {
    .top_backgrounds {
        background: 
            url(../img/bg/medium/1_1024.png) 5% -50px  no-repeat,
            url(../img/bg/medium/ufo_1024.png) 20% -150px no-repeat,
            url(../img/bg/medium/2_1024.png) 49% -50px  no-repeat,
            url(../img/bg/medium/plane_1024.png) 80% -210px  no-repeat,
            url(../img/bg/medium/3_1024.png) 95% -50px  no-repeat;        
    }
    .bottom_backgrounds {
        background: 
        url(../img/bg/medium/truck_1024.png) 20% 100% no-repeat,
        url(../img/bg/medium/bear_1024.png) 48% calc(100% + 35px) no-repeat,
        url(../img/bg/medium/blocks_1024.png) 80% 100% no-repeat;        
    }
    body {        
        background: url(../img/bg/medium/vane_1024.png) -20px 75% no-repeat,
        url(../img/bg/medium/dinosaur_1024.png) calc(100% + 63px) 75% no-repeat,
        url(../img/bg/medium/bg_1024.png) center / cover no-repeat fixed; 
    }
    h1.head {
        font-size: 50px;
    }
    .clips-container {
        .clip-item img {
            max-width: 200px;
        }
    }
    .wrapper {
        max-width: 720px;
    }
    .wrapper_step1 {
        max-width: 600px;
    }
}

@media (max-width: 830px) {
    body {
        padding: 80px 0;
        background: url(../img/bg/medium/bg_1024.png) center / cover no-repeat fixed; 
    }
    .top_backgrounds {
        background: 
            url(../img/bg/big/1_2000.png) 5% -50px / 12px no-repeat,
            url(../img/bg/big/ufo_2000.png) 20% -100px / 50px no-repeat,
            url(../img/bg/big/2_2000.png) 49% -50px / 18px no-repeat,
            url(../img/bg/big/plane_2000.png) 80% -130px / 50px no-repeat,
            url(../img/bg/big/3_2000.png) 95% -50px / 18px no-repeat;
        height: 80px;
    }
    .bottom_backgrounds {
        background: 
            url(../img/bg/small/vane_small.png) 5% calc(100% + 7px) no-repeat,
            url(../img/bg/small/truck_small.png) 20% 100% no-repeat,
            url(../img/bg/small/bear_small.png) 46% calc(100% + 14px) no-repeat,
            url(../img/bg/small/blocks_small.png) 70% 100% no-repeat,
            url(../img/bg/small/dinosaur_small.png) 95% calc(100% + 18px) no-repeat;
        height: 80px;
    }
    h1.head {
        font-size: 26px;
    }
    .clips-container {
        .clip-item img {
            max-width: 110px;
        }
    }
    .wrapper {
        max-width: 375px;
    }
    .clips-container .clip-item:last-child {
        padding-left: 12px;
    }
}

