@font-face {
	font-family: 'Luckiest Guy';
	src: url('../fonts/11814.eot');
	src: local('☺'), url('../fonts/11814.woff') format('woff'), url('../fonts/11814.ttf') format('truetype'), url('../fonts/11814.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TT Rounds';
	src: url('../fonts/TTRounds-Regular.eot');
	src: local('☺'), url('../fonts/TTRounds-Regular.woff') format('woff'), url('../fonts/TTRounds-Regular.ttf') format('truetype'), url('../fonts/TTRounds-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {   
    font-family: 'Luckiest Guy', sans-serif;
    color: #fff;
    background: url(../img/bg/bg.png) center / cover no-repeat fixed;
    padding: 150px 0;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
}

.text-center {
    text-align: center;
}

h1.head {
    text-transform: uppercase;
    color: #fff;
    font-size: 4em;
    letter-spacing: 5px;
    line-height: 1.1;
    margin: 10px 0;
}
.wrapper {
    max-width: 80%;
    margin:  auto;
}

.top_backgrounds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
}

.bottom_backgrounds {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
}

.uppercase {
    text-transform: uppercase;
}

.screen_height {    
    display: flex;
    display: -webkit-flex;
    .wrapper {
        margin: auto !important;
    }
}

@import './steps/1_step';
@import './steps/2_step';
@import './steps/3_step';
@import './steps/4_step';
@import './steps/5_step';
@import './steps/6_step';
@import './steps/7_step';
@import './steps/8_step';

@import 'media';