.clips-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .clip-item:first-child {
        align-self: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        margin-bottom: 20px;
    }
    .clip-item:nth-child(2) {
        align-self: flex-start;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: flex-start;
        position: absolute;
    }
    .clip-item:nth-child(3) {
        align-self: flex-end;        
        -webkit-align-self: flex-end;
        -ms-flex-item-align: flex-end;
        position: absolute;
        right: 0;
    }
    .clip-item:last-child {
        align-self: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        margin-top: 20px;
        padding-left: 35px;
    }
    .clip-item {
        /* display: inline-block;
        vertical-align: top; */
        img {                 
            margin: 0 auto;
            display: block;
        }
    }
}
@media (min-width: 1024px) { 
    .wrapper_step1 {
        min-width: 720px;
    }
}
@media (min-width: 1600px) { 
    .wrapper_step1 {
        min-width: 760px;
    }
}
@media (min-width: 1950px) { 
    .wrapper_step1 {
        min-width: 1000px;
    }
}
@media (max-width: 1024px) {
    .clip-item:nth-child(3), .clip-item:nth-child(2) {
        top: 50%;
        margin-top: -100px;
    }    
    .wrapper_step1 {
        min-width: 600px;
    }
}
@media (max-width: 830px) {
    .clip-item:nth-child(3), .clip-item:nth-child(2) {
        top: 50%;
        margin-top: -55px;
    }
    h1.head {
        margin: 2px 0;
    }
    .wrapper_step1 {
        min-width: 340px;
    }
    .bottom_backgrounds {
        bottom: -25px;
    }
}
@media (max-width: 670px) {
    .head-onsmall {
        font-size: 22px !important;
    }
    .clips-container .clip-item img {
        max-width: 100px !important;
    }
    .wrapper_step1 {
        min-width: 295px;
    }
}
@media (max-width: 568px) and (max-height: 320px) {
    .clips-container {
        .clip-item img {
            max-width: 80px;
        }
    }
    .clip-item:nth-child(3), .clip-item:nth-child(2) {        
        margin-top: -40px;
    }
    .wrapper {
        max-width: 250px;
    }
    h1.head {
        font-size: 20px;
    }

}