.head2 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 400;
}

.conditions {
    background-color: #114898;
    border: 3px solid #ffffff;
    max-width: 1552px;
    max-height: 649px;
    overflow-y: scroll;
    display: block;
    margin: 0 auto;

    color: #feffff;
    font-family: "TT Rounds";
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    li.list-style-none {
        list-style: none;
        text-transform: uppercase
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    margin-bottom: 24px;
}

#agree-form {
    display: block;
    margin: 0;
    width: 100%;
    .control {
        display: block;
        position: relative;
        padding-left: 30px;
        margin: 15px auto;
        padding-top: 3px;
        cursor: pointer;
        font-size: 38px;
        width: 160px;
        color: #fff;
    }
        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
    .control_indicator {
        position: absolute;
        top: 4px;
        left: 0;
        height: 27px;
        width: 27px;
        background: #e6e6e6;
        border: 0px solid #000000;
    }
    
    .control:hover input ~ .control_indicator,
    .control input:focus ~ .control_indicator {
        background: #cccccc;
    }
    
    .control input:checked ~ .control_indicator {
        background: #104898;
    }
    .control:hover input:not([disabled]):checked ~ .control_indicator,
    .control input:checked:focus ~ .control_indicator {
        background-color: #114898;
    }
    .control input:disabled ~ .control_indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }
    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control_indicator:after {
        display: block;
    }
    .control-checkbox .control_indicator:after {
        left: 9px;
        top: 5px;
        width: 6px;
        height: 10px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .control-checkbox input:disabled ~ .control_indicator:after {
        border-color: #7b7b7b;
    }
    .agree-checkbox {
        text-align: center;
        p {
            font-family: "TT Rounds";
        }
    }
}
@media (min-width: 1400px) {
    .wrapper_step2 {
        max-width: 1030px !important;
    }
}
@media (min-width: 1950px) and (min-height: 1536px) {
    .head2 {
        font-size: 60px;
    }
    .wrapper_step2 {
        max-width: 1319px !important;
    }
}
@media (max-width: 1950px) {
    .head2 {
        font-size: 35px;        
    }
    .conditions {
        font-size: 15px;
        line-height: 1.4;
    }
}

@media (max-width: 1400px) {
    .conditions {
        font-size: 10px;
        line-height: 1.2;
    }
    .head2 {
        font-size: 28px;        
    }
    #agree-form .control {
        font-size: 24px;
        width: 100px;
    }
    #agree-form .control_indicator {        
        top: 2px;     
        height: 20px;
        width: 20px;
    }
    #agree-form .control-checkbox .control_indicator:after {
        left: 7px;
        top: 4px;
        width: 4px;
        height: 7px;
    }
    #agree-form .agree-checkbox p {
        font-size: 10px;
    }
}

@media (max-width: 800px) {
  .head2 {
      font-size: 20px;
  }
  .wrapper_step2 {
      max-width: 70% !important;
  }
  .conditions {
    ul, ol {
        padding-left: 20px;
    }
    margin-bottom: 4px;
  }
  #agree-form .control {
    margin: 8px auto 0;
  }
  #agree-form .agree-checkbox p {
      margin: 0;
  }
  .on-off-switch {
    margin-top: 13px !important; 
}
}

@media (max-width: 670px) {
    .head2 {
        font-size: 16px;
        margin: 2px 0;
    }
    #agree-form .control {
        font-size: 16px;
        width: 60px;
    }
    #agree-form .control_indicator {
        height: 15px;
        width: 15px;
        left: 9px;
    }
    #agree-form .control-checkbox .control_indicator:after {
        left: 6px;
        top: 4px;
        width: 2px;
        height: 4px;
    }
    .wrapper_step2 {
        max-width: 85% !important;
    }
    
}

@media (max-width: 500px) { 
    .wrapper_step2 {
        max-width: 90% !important;
    }
}