.form_wrapper {
    max-width: 100%;
    /* display: block;
    margin: 0 auto; */
    padding: 10px 0;
}
.fioform { 
    &__text {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        background: transparent;
        border: none;
        font-size: 7em;
        text-transform: uppercase;
        font-family: 'Luckiest Guy';
        color: #a3bfe8;
        text-align: center;
        &::placeholder {
            color: #a3bfe8;            
        }
        &:focus {
            outline: none;
        }
    }
}

.submit_button {
    box-shadow: 7px 15px 0 rgba(8, 35, 74, 0.5);
    border: 13px solid #ffffff;
    background-color: #1c2266;
    color: #fff;
    font-family: 'Luckiest Guy';
    border-radius: 70px;
    font-size: 44px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 34px 80px 25px;
    margin: 30px auto 0;
    display: block;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background: #161b57;
    }
    &:active {
        transform: translateY(8px);
        box-shadow: none;            
    }
    &:focus, &:active {
        outline: none;
    }
}

@media (max-width: 1950px) {
    .fioform { 
        &__text {
            font-size: 5em;
        }
    }
    .submit_button {
        font-size: 36px;
        padding: 24px 60px 15px;
    }
}

@media (max-width: 1400px) {

}

@media (max-width: 830px) {
    .fioform { 
        &__text {
            font-size: 42px;
            margin: 5px 0;
            padding: 7px 0;
        }
    }
    .submit_button {
        font-size: 18px;
        border-width: 8px;
        padding: 17px 45px 12px;
    }
    .form_wrapper {
        padding: 0;
    }
    .button_step3  {
        margin-top: 0;
    }
    .wrapper_step3 {
        max-width: 395px !important;
    }
    .head_step3 {
        font-size: 24px !important;
    }
}

@media (max-width: 568px) and (max-height: 320px) {
    .fioform { 
        &__text {
            font-size: 35px;
            margin: 10px 0
        }
    }
    .button_step3  {
        border-width: 4px;
        padding: 10px 30px 7px;
        font-size: 16px;
        margin-top: -5px;
    }
}