.head_step4 {
    font-size: 85px;
    color: #ffdf2c;    
    letter-spacing: 5px;
    margin-bottom: 0;
    span {
        font-size: 140px;
        color: #fff;
    }
    &+p {
        margin-top: 0;
        font-size: 35px;
        font-family: sans-serif;
        text-align: center;
    }
}

.label_upload {
    max-width: 130px;
}


.center-image {
    display: block;
    margin: 80px auto;
    width: 500px;
}

@media (min-width: 1950px) {
    .wrapper_step4 {
        max-width: 1500px !important;
    }
}

@media (max-width: 1950px) {
    .head_step4 {
        font-size: 50px;
        span {
            font-size: 80px;
        }
        &+p {
            font-size: 26px;
        }
    }
}

@media (max-width: 1400px) {
    .head_step4 {
        font-size: 42px;
        span {
            font-size: 72px;
        }
        &+p {
            font-size: 17px;
        }
    }
    .wrapper_step4 {
        max-width: 800px !important;
    }
    .center-image {     
        margin: 50px auto;
        width: 440px;
    }
}

@media (max-width: 830px) {
    .head_step4 {
        font-size: 26px;
        margin: 2px 0 0;
        span {
            font-size: 44px;
        }
        &+p {
            font-size: 15px;
        }
    }
    .center-image {     
        margin: 10px auto;
        width: 240px;
    }
    .label_upload {
        max-width: 70px;
        margin-top: 10px;
    }
    .submit_button {
        border-width: 5px;
    }

}
@media (max-width: 568px) and (max-height: 320px) {
    .head_step4 {
        font-size: 20px;
        span {
            font-size: 30px;
        }
        &+p {
            font-size: 12px;
        }
    }
    .center-image {
        margin: 10px auto;
        width: 200px;
    }
    .label_upload {
        border-width: 4px;
        padding: 10px 30px 7px;
        font-size: 16px;
        margin-top: 10px;
        max-width: 63px;
    }
}