.uploaded_images {
    display: flex;
    justify-content: center;
    .item {
        margin: 0 30px;
        max-width: 290px;
        img {
            width: 100%;
        }        
    }
    margin-bottom: 100px;

}

@media (max-width: 1400px) {
    .uploaded_images .item {
        max-width: 155px;
    }
    .wrapper_step5 {
        max-width: 900px !important;
    }
}

@media (max-width: 950px) {
    .wrapper_step5 {
        max-width: 750px !important;
    }
    .uploaded_images .item {
        max-width: 140px;
        margin: 0 20px;
    }
}


@media (max-width: 830px) {
    .wrapper_step5 {
        max-width: 400px !important;
    }
    .uploaded_images {
        margin-bottom: 20px;
        .item {
            max-width: 80px;
            margin: 0 9px;
        }
    }
}

@media (max-width: 500px) {
    .wrapper_step5 {
        max-width: 90% !important;
    }
    .uploaded_images {
        .item {
            max-width: 100%;            
        }
    }
}