.countdown {
    display: block;
    margin: 20px auto;
    border: 15px solid #fff;
    background-color: #1c2266;    
    width: 320px;
    height: 320px;
    font-size: 150px;
    letter-spacing: 4px;
    margin: auto;
    text-align: center;
    padding-top: 85px;
    border-radius: 50%;
    box-sizing: border-box;    
}

@media (max-width: 1400px) {
    .countdown {
        width: 230px;
        height: 230px;
        font-size: 90px;
        padding-top: 70px;
    }
}

@media (max-width: 800px) {
    .countdown {
        width: 137px;
        height: 137px;
        font-size: 56px;
        padding-top: 41px;
        border-width: 10px;
    }
}