.wrapper iframe {
    margin: 0 0 20px;
    width: 100%;
    height: 400px;
}

.head_step8 {
    font-size: 40px;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1.2;
    margin: 5px 0;
    font-weight: 400;
    span {
        color: #ffd325;
    }
}

.wrapper_step8 {
    max-width: 1220px !important;   
}

.social {
    margin: 40px auto 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    max-width: 80%;
    img {
        width: 100%;
    }
}
@media (min-width: 1950px) and (min-height: 1536px) {
    .wrapper iframe {
        margin: 0 0 40px;
        width: 100%;
        height: 688px;
    }
    .wrapper_step8 {
        max-width: 1350px !important;
    }    
}
@media (max-width: 1400px) {
    .wrapper iframe {
        height: 344px;
        margin: 20px 0;
    }
    .wrapper_step8 {
        max-width: 700px !important;
    }
    .social {
        margin-top: 10px;
        a {
            width: 12%;
            flex-basis: 12%;
        }    
    }
    .head_step8 {
        font-size: 25px;
    }
}

@media (max-width: 830px) {
    .wrapper iframe {
        width: auto;
        max-width: 422px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin: 0 auto 10px;
    }    
    .wrapper_step8 {
        max-width: 500px !important;
    }
    .head_step8 {
        font-size: 20px;
    }
    .social {
        margin-top: 10px;
    }
}

@media (max-width: 825px) and (max-height: 375px) {
    .wrapper iframe {     
        height: 150px;
    }
    .head_step8 {
        font-size: 18px;;
    }
    .social a {
        width: 10%;
        flex-basis: 10%;
    }
}